:root {
  --sizing-fs-base: 12px;
  --sizing-ws-base: 1.5em;
  --sizing-fs-tablet: 14px;
  --sizing-fs-laptop: 16px;
  --sizing-fs-desktop: 18px;
  --sizing-fs-huge: 20px; }

* {
  padding: 0;
  margin: 0;
  text-decoration: none; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

h1, h2, h3 {
  opacity: 0;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

body {
  font-family: 'Work Sans', sans-serif; }

html {
  font: var(--sizing-fs-base)/1.5 "Georgia", serif; }

@media (min-width: 600px) {
  html {
    font-size: var(--sizing-fs-tablet); } }

@media (min-width: 1260px) {
  html {
    font-size: var(--sizing-fs-laptop); } }

@media (min-width: 1420px) {
  html {
    font-size: var(--sizing-fs-desktop); } }

@media (min-width: 1660px) {
  html {
    font-size: var(--sizing-fs-huge); } }

p, ul, ol, dl, table {
  margin-bottom: var(--sizing-ws-base); }

ul, ol {
  padding-left: var(--sizing-ws-base); }

h1, h2, h3 {
  margin: 0 0 calc( var(--sizing-ws-base) / 3) 0; }

.site-content {
  padding: 2rem 0; }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0); }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0); }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.main-nav ul {
  display: flex;
  flex-diresction: row;
  justify-content: left; }
  .main-nav ul > li {
    display: inline-block;
    list-style: none outside;
    position: relative;
    padding: 0 0.5em; }
    .main-nav ul > li:hover > .submenu {
      visibility: visible; }
    .main-nav ul > li {
      color: #FFF; }
      .main-nav ul > li:focus, .main-nav ul > li:hover {
        background: #000;
        border-radius: 0.5rem; }
    .main-nav ul > li .submenu {
      position: absolute;
      visibility: hidden;
      width: auto;
      padding: 3px 8px; }
      .main-nav ul > li .submenu li {
        margin-right: 0; }
  .main-nav ul a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #FFF;
    transition: background 0.3s ease-in;
    outline: none;
    border-radius: 0.3em; }

.main-nav ul ul {
  display: flex;
  flex-direction: column; }

.main-nav ul ul li {
  display: flex;
  flex-direction: row;
  margin: 0 0 0.5rem 0; }

.main-nav ul ul ul {
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  overflow: hidden;
  margin-top: -0.2rem; }

.main-nav ul ul ul li:nth-child(1) {
  margin-left: 11rem; }

.main-nav ul ul ul li {
  opacity: 0;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  transition: opacity 0.2s ease-in, -webkit-transform 0.2s ease-out;
  transition: opacity 0.2s ease-in, transform 0.2s ease-out;
  transition: opacity 0.2s ease-in, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  /*margin: -0.1rem 0 0.5rem 10.5rem ;*/
  position: relative;
  width: 10rem; }

.main-nav li:hover > ul {
  pointer-events: all; }

.main-nav li:hover > ul > li {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1; }

.main-nav li:hover > ul > li:nth-child(2) {
  transition-delay: 0.08s; }

#toggle-main-nav-button {
  color: #FFF;
  margin: 0 auto;
  width: 5%;
  font-size: 1.3em;
  display: none; }
  @media (max-width: 1100px) {
    #toggle-main-nav-button {
      display: block; } }
  @media (min-width: 1101px) {
    #toggle-main-nav-button {
      display: none; } }

#toggle-nav {
  position: absolute;
  opacity: 0;
  pointer-events: none; }

@media screen and (max-width: 800px) {
  ul {
    display: flex;
    flex-direction: column;
    color: #FFF;
    justify-content: left; }
  ul > li {
    display: block;
    align-items: center;
    margin: 0 auto;
    padding: 0.3rem;
    text-align: center; }
  ul > li .submenu {
    position: absolute;
    visibility: hidden;
    opacity: 0; }
  ul a {
    display: block;
    padding: 0.5em 1em;
    border-radius: 0; }
  #toggle-nav {
    position: absolute;
    pointer-events: none;
    opacity: 0; }
  #toggle-nav:checked {
    display: block; }
  .site-header label i.fa-times {
    display: none; }
  #toggle-nav:checked + label i.fa-times {
    display: block; }
  #toggle-nav:checked + label i.fa-bars {
    display: none; } }

.site-social-div section h1 {
  display: flex;
  width: 30%; }

body > main > section > h1 {
  text-align: center;
  color: var(--color-main-bgrd); }

body > main > section > div > div {
  justify-content: center; }

section:nth-child(1) h1:after {
  display: block;
  content: '';
  width: 10%;
  height: 2px;
  margin: 0.8rem auto;
  background: #262626; }

h2, h4 {
  color: var(--color-main-bgrd);
  display: block;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 2rem; }

p {
  color: var(--color-main-bgrd); }

.read-more {
  display: block;
  margin: auto 0.8rem 0.8rem auto;
  background: #FFF;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  font-weight: bold; }

.travel {
  display: flex;
  justify-content: center; }

.destinations {
  display: flex;
  width: 100%; }

body > main > section > div > div > button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem 0 0 2.5rem;
  text-align: center;
  padding: 0.3rem;
  background: #7aabed;
  border-radius: 0.5rem;
  border-color: #7aabed;
  width: 25%; }

body > main > section > div > div > button a {
  color: #FFF;
  font-weight: bold; }

button:hover:before {
  opacity: 1;
  background: #000;
  color: white; }

button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 5;
  background: #000;
  border: 1px solid #000; }

/*button a,*/
footer a {
  color: var(--color-main-bgrd); }

button a:hover {
  background: #000;
  color: white; }

#social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20%; }

.site-social-div {
  justify-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 0 5rem 0; }

/* facebook  */
.facebookBtn {
  color: #4060A5;
  background: #fff; }

.facebookBtn:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f09a";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle; }

.facebookBtn:hover {
  background: #4060A5;
  color: #fff; }

/* twitter  */
.twitterBtn {
  width: 25px;
  height: 45px;
  color: #00ABE3;
  background: #fff; }

.twitterBtn:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f099"; }

.twitterBtn:hover {
  background: #00ABE3;
  color: #fff; }

/* google plus  */
.googleplusBtn {
  color: #e64522;
  background: #fff; }

.googleplusBtn:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f0d5"; }

.googleplusBtn:hover {
  background: #e64522;
  color: #fff; }

/* linkedin  */
.linkedinBtn {
  color: #0094BC;
  background: #fff; }

.linkedinBtn:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f0e1"; }

.linkedinBtn:hover {
  background: #0094BC;
  color: #fff; }

/* pinterest  */
.pinterestBtn {
  color: #cb2027;
  background: #fff; }

.pinterestBtn:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f0d2"; }

.pinterestBtn:hover {
  background: #cb2027;
  color: #fff; }

@media screen and (max-width: 800px) {
  div.gallery {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 3em;
    padding: 0;
    align-content: center;
    margin: 3rem 4rem 3rem 4rem; }
  body > main > section > div > div > button {
    margin: 0 0.3rem 0 0;
    /*padding: 0.1rem;*/ } }

div.gallery {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-gap: 3em;
  padding: 0;
  align-content: center;
  margin: 3rem 4rem 3rem 4rem; }

.location-listing {
  position: relative; }

.location-image {
  line-height: 1rem;
  overflow: hidden; }

.location-image img {
  display: block;
  width: 100%;
  max-width: 1000px;
  height: auto;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  transition: -webkit-filter 0.3s ease-in;
  transition: filter 0.3s ease-in;
  transition: filter 0.3s ease-in, -webkit-filter 0.3s ease-in;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  margin: 0 auto; }

.location-image p {
  display: flex;
  overflow: hidden;
  line-height: 1.1em;
  height: 30vmin; }

.location-title p {
  display: flex;
  flex-direction: column;
  line-height: 1.7rem;
  justify-content: center;
  padding: 0.5rem 1rem 2rem 0.1rem;
  height: 10vmax;
  overflow: hidden; }

/* for touch screen devices */
@media (hover: none) {
  .location-title {
    opacity: 1; }
  .location-image img {
    -webkit-filter: blur(1px);
            filter: blur(1px); } }

@media screen and (max-width: 800px) {
  div.gallery {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 3em;
    padding: 0;
    align-content: center;
    margin: 3rem 4rem 3rem 4rem; } }

.site-content {
  background-color: white;
  overflow: hidden; }

.country {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2rem; }

section {
  background-color: white; }

.container_ {
  margin-top: 3rem;
  display: flex;
  justify-content: center; }

.thumbnails {
  /*
  display: grid;
  grid-template-rows: 50px;
  grid-gap: 0;*/
  align-content: center;
  line-height: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  grid-area: content;
  min-height: 0;
  max-height: 500px;
  min-width: 0;
  padding: 2px;
  overflow-y: scroll; }

.thumbnails div {
  flex: auto; }

.thumbnails a {
  display: block; }

.thumbnails img {
  width: 30vmin;
  height: 20vmin;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 0;
  /*object-position: top;*/
  overflow-x: hidden;
  overflow-y: scroll; }

.slides {
  margin-top: 0.1rem;
  overflow: hidden;
  width: 75vmin;
  height: 100vmin; }

.slides div {
  width: 75vmin;
  height: 100vmin;
  position: absolute;
  z-index: 1;
  list-style-type: none;
  background-color: white; }

.slides img {
  width: 75vmin;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  background-color: white; }

.slides div:target {
  z-index: 3;
  -webkit-animation: slide 1s 1;
          animation: slide 1s 1; }

.slides div:not(target) {
  -webkit-animation: hidden 1s 1;
          animation: hidden 1s 1; }

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }

@keyframes slide {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }

@-webkit-keyframes hidden {
  0% {
    z-index: 2; }
  100% {
    z-index: 2; } }

@keyframes hidden {
  0% {
    z-index: 2; }
  100% {
    z-index: 2; } }

/*for touch screen devices*/
@media (hover: none) {
  .location-title-inner {
    opacity: 1; }
  .location-image-inner img {
    -webkit-filter: blur(1px);
            filter: blur(1px); } }

.page-box {
  background: #EBF0F0;
  width: 70%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.form {
  width: 100%;
  background: #EBF0F0; }

.container {
  width: 55%; }

.block {
  width: 45%; }

.container section p {
  padding: 0 0 0 0.3rem; }

h2, h4 {
  text-align: center; }

input, textarea {
  background: #FFF;
  border: none;
  outline: none;
  width: 90%;
  border-radius: 0.4rem;
  font-weight: bold; }

input, textarea {
  padding: 0.5rem 0.5rem 0.5rem 4rem; }

.form p {
  position: relative; }

.form i {
  display: flex;
  position: absolute;
  top: 10px;
  left: 2px;
  z-index: 200;
  align-items: center;
  border-right: 1px solid #5C5757;
  color: #5C5757; }

.form i:before {
  padding: 0 1rem; }

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  color: red; }

input[type=text],
input[type=email],
textarea {
  color: green; }

input[type="button"] {
  background: #0E81CE;
  color: white;
  padding: 0.5rem 0;
  cursor: pointer;
  width: 90%;
  margin-bottom: 1rem; }

input[type="button"]:hover {
  background: #333333; }

input:focus + i {
  color: #0E81CE; }

.form p:focus-within:before {
  color: white; }

.star {
  color: red;
  display: inline-block; }

.min-char {
  font-size: 0.6em;
  color: #B9BAB5; }

.block {
  display: inline-block;
  vertical-align: top;
  padding: 10px; }

ul {
  display: inline; }

ul li {
  list-style-type: none;
  color: black; }

.buttonMargined {
  margin-left: 140px; }

.preview {
  display: flex;
  overflow: hidden;
  height: 15vmin;
  width: 90%;
  padding: 0.5rem 0.3rem;
  border: 1px solid grey;
  font-size: inherit;
  color: blueviolet; }

.preview p {
  display: block;
  margin: 1rem 0.5rem 0.5rem 1rem; }

p.info {
  display: block;
  margin: 1rem 0.5rem 0.5rem 1rem; }

@media screen and (max-width: 900px) {
  .page-box {
    width: 100%;
    display: flex;
    flex-direction: column; }
  .container {
    width: 100%; }
  form {
    width: 100%;
    display: block;
    padding-left: 7%; }
  .form p {
    width: 100%; }
  .block {
    width: 100%;
    margin-top: 0;
    padding-left: 10%; }
  iframe {
    width: 100%; } }

:root {
  --color-main-bgrd: #333;
  --color-main-text: #FFF;
  --color-main-link: #FFF;
  --color-main-special: rgba(0, 0, 0, 0.3); }

.inner {
  display: flex;
  justify-content: space-between; }

.site-header,
.site-title a {
  color: var(--color-main-link);
  text-shadow: 1px 1px 1px grey; }

.inner img {
  margin: 1rem 0.8rem 0 2rem; }

.header-content {
  /*margin-top: 5rem;*/
  letter-spacing: 0.1rem;
  text-shadow: 1px 1px 1px grey; }

.site-header nav {
  margin: 0.5rem 0;
  font-size: 1.5em;
  display: flex;
  justify-content: left; }

header h1 {
  margin-top: 20%;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-shadow: 1px 1px 1px grey;
  position: relative; }

.site-header.banner {
  position: relative;
  background-image: url(https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/19875426_10155500867784399_3910616384988455556_n.jpg?_nc_cat=106&_nc_ht=scontent.fsof3-1.fna&oh=cb6342968aae34608c8bb17859bd542c&oe=5D353FC2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /*width: 100%;*/
  width: auto; }

.site-header.banner_other {
  position: relative;
  background-image: url(https://scontent.fsof3-1.fna.fbcdn.net/v/t31.0-8/12473748_10153880595104399_5690327844215255834_o.jpg?_nc_cat=104&_nc_ht=scontent.fsof3-1.fna&oh=ac7dde103f55f61e337f7b9e6c80f93c&oe=5D29B46F);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 55vh;
  /*width: 100%;*/
  width: auto; }

.site-header.banner:after,
.site-header.banner_other:after {
  display: block;
  content: ''; }

.site-header.banner.size-large:after,
.site-header.banner_other.size-large:after {
  padding-top: calc(9 / 16  * 100% / 2); }

.site-header.banner.size-small:after,
.site-header.banner_other.size-small:after {
  padding-top: calc( 9 / 32 * 100%); }

@media (min-width: 1101px) {
  header h1 {
    font-size: 3.5em;
    margin-top: 20%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-shadow: 1px 1px 1px grey;
    position: relative; } }

@media (max-width: 800px) {
  header h1 {
    font-size: 3.5em;
    margin-top: 20%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-shadow: 1px 1px 1px grey;
    position: relative; } }

iframe {
  display: block;
  margin: auto; }

footer p {
  display: block;
  margin: 0 auto; }

footer p:hover {
  background: #000;
  border-radius: 0.5rem; }

footer p a {
  color: #FFF; }

.site-footer-div {
  display: flex;
  background: #82b4f1;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.5rem 0 0.5rem; }
