<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
</head>

<body>
    {% if page.url == '/' %}
    <header class="site-header banner size-small">
        <div class="inner">
            <h2 class="site-title"><a href="/"><img src="{{ site.baseurl }}/img/logo.svg" width="25px" height="25px" alt="home">{{ site.title }}</a></h2>
        </div>
        <div class="site-header" data-animate-effect="fadeInUp">
            {% include navigation.html location="header" %}
            <h1 class="fadeInUp" >Never Stop Exploring.</h1>
        </div>

        </header>
        {% endif %}

        {% if page.url == '/destination/' %}
        <header class="site-header banner_destination {% if page.url == '/destination/' %} size-large {% else %} size-small {% endif %}">
            <div class="inner">
                <h2 class="site-title"><a href="/"><img src="{{ site.baseurl }}/img/logo.svg" width="25px" height="25px" alt="home">{{ site.title }}</a></h2>

            </div>
            {% include navigation.html location="header" %}
            <h1 class="fadeInUp">Destinations</h1>
        </header>
            {% endif %}
            {% if page.url == '/contacts/' %}
            <header class="site-header banner_destination {% if page.url == '/contacts/' %} size-large {% else %} size-small {% endif %}">
                <div class="inner">
                    <h2 class="site-title"><a href="/"><img src="{{ site.baseurl }}/img/logo.svg" width="25px" height="25px" alt="home">{{ site.title }}</a></h2>
                </div>
                {% include navigation.html location="header" %}
                <h1 class="fadeInUp">Contacts</h1>
            </header>
                {% endif %}
                {% if page.url == '/about/' %}
                <header class="site-header banner_destination {% if page.url == '/about/' %} size-large {% else %} size-small {% endif %}">
                    <div class="inner">
                        <h2 class="site-title"><a href="/"><img src="{{ site.baseurl }}/img/logo.svg" width="25px" height="25px" alt="home">{{ site.title }}</a></h2>
                    </div>
                    {% include navigation.html location="header" %}
                    <h1 class="fadeInUp">About</h1>
                </header>
                {% endif %}

    {% if page.url == '/destination/europe/italy' %}
    <header class="site-header banner_destination ">
        {% include navigation.html location="header" %}
        <h1 class="fadeInUp">Destinations</h1>
    </header>
    {% endif %}

    <main class="site-content">
        {{ content }}
    </main>

    <footer class="site-footer">
        {% include navigation-footer.html location="footer" %}

        <p>&copy; Travel by Miki</p>

    </footer>

</body>

</html>