<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
    <input type="checkbox" id="toggle-nav" />
    {% if page.url == '/' %}
    <header class="site-header banner size-small">
        <div class="inner">
            <h2 class="site-title"><a href="/"><img src="{{ site.baseurl }}/img/logo.svg" width="25px" height="25px" alt="home">{{ site.title }}</a></h2>
        </div>
        <div class="site-header" data-animate-effect="fadeInUp">
            {% include navigation.html location="header" %}
            <h1 class="fadeInUp" >Never Stop Exploring.</h1>
        </div>
    </header>
    {% else %}
    <header class="site-header banner_other size-small">
        <div class="inner">
            <h2 class="site-title"><a href="/"><img src="{{ site.baseurl }}/img/logo.svg" width="25px" height="25px" alt="home">{{ site.title }}</a></h2>
        </div>
        <div class="site-header" data-animate-effect="fadeInUp">
            {% include navigation.html location="header" %}
            <h1></h1>
        </div>
    </header>
    {% endif %}
    <main class="site-content">
        {{ content }}
    </main>

    <footer class="site-footer">
        <div class="site-footer-div">
            <p><a href="{{ site.baseurl }}">&copy; Travel by Miki</a></p>

            <div class="media">
                <p><a class="fab fa-facebook-f" href="https://www.facebook.com/maria.tumbeva.16"></a></p>
                <p><a class="fab fa-twitter" href="https://twitter.com/Maria_Tumbeva"></a></p>
                <p><a class="fas fa-mobile-alt" href="#"> +000 000 000</a></p>
            </div>
        </div>
    </footer>

    </body>

</html>