.page-box {
    background: #EBF0F0;
    width: 70%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.form{
    width: 100%;
    background: #EBF0F0;
}
.container {
    width: 55%;
}

.block {
    width: 45%;
}
.container section p {
    padding: 0 0 0 0.3rem;
}

h2, h4{
    text-align: center;
}
input, textarea {
    background: #FFF;
    border: none;
    outline: none;
    width: 90%;
    border-radius: 0.4rem;
    font-weight: bold;
}

input, textarea {
    padding: 0.5rem 0.5rem 0.5rem 4rem;
}

.form p {
    position: relative;
}

.form i {
    display: flex;
    position: absolute;
    top: 10px;
    left: 2px;
    z-index: 200;
    align-items: center;
    border-right: 1px solid #5C5757;
    color: #5C5757;
}

.form i:before {
    padding: 0 1rem;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus{
  color: red;
}

input[type=text],
input[type=email],
textarea{
  color: green;
}

input[type="button"] {
    background: #0E81CE;
    color: white;
    padding: 0.5rem 0;
    cursor: pointer;
    width: 90%;
    margin-bottom: 1rem;
}

input[type="button"]:hover {
    background: #333333;
}

input:focus+i {
    color: #0E81CE;
}

.form p:focus-within:before {
    color: white;
}

.star {
    color: red;
    display: inline-block;
}

.min-char {
    font-size: 0.6em;
    color: #B9BAB5;
}

.block {
    display: inline-block; vertical-align: top; padding: 10px;
}

ul {
    display: inline;
}
ul li {
    list-style-type: none;
    color: black;
}

.buttonMargined {
    margin-left: 140px;
}

.preview {
    display: flex;
    overflow: hidden;
    height: 15vmin;
    width: 90%;
    padding: 0.5rem 0.3rem;
    border: 1px solid grey;
    font-size: inherit;
    color: rgb(138, 43, 226);
}

.preview p{
  display: block;
  margin: 1rem 0.5rem 0.5rem 1rem;
}

p.info{
  display: block;
  margin: 1rem 0.5rem 0.5rem 1rem;
}

@media screen and (max-width: 900px) {

    .page-box {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .container {
        width: 100%;
    }

    form {
        width: 100%;
        display: block;
        padding-left: 7%;
    }
    .form p {
        width: 100%;

    }
    .block {
        width: 100%;
        margin-top: 0;
        padding-left: 10%;
    }

    iframe {
        width: 100%;
    }
}
