div.gallery {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-gap: 3em;
    padding: 0;
    align-content: center;
    margin: 3rem 4rem 3rem 4rem;
}

.location-listing {
    position: relative;
}

.location-image {
    line-height: 1rem;
    overflow: hidden;
}

.location-image img {
    display: block;
    width: 100%;
    max-width: 1000px;
    height: auto;
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
    margin: 0 auto;
}

.location-image p {
    display: flex;
    overflow: hidden;
    line-height: 1.1em;
}

.location-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(white, 0.9);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.location-listing:hover .location-title {
    opacity: 1;
}

.location-listing:hover .location-image img {
    filter: blur(2px);
    transform: scale(1.7);
    z-index: 5;
    background: #FFF;
}

.location-listing:before a {
    display: block;
    content: '';
}

/* for touch screen devices */
@media (hover: none) {
    .location-title {
        opacity: 1;
    }
    .location-image img {
        filter: blur(1px);
    }
}


