.main-nav ul {
    display: flex;
    flex-diresction: row;
    justify-content: left;

    & > li {
        display: inline-block;
        list-style: none outside;
        position: relative;
        padding: 0 0.5em;

        &:hover > .submenu {
            visibility: visible;
        }

        & {
            color: #FFF;

            &:focus,&:hover {
                background: #000;
                border-radius: 0.5rem;
            }
        }

        .submenu {
            position: absolute;
            visibility: hidden;
            width: auto;
            padding: 3px 8px;

            li {
                margin-right: 0;
            }
        }
    }

    a {
        display: block;
        padding: 0.5em 1em;
        text-decoration: none;
        color: #FFF;
        transition: background 0.3s ease-in;
        outline: none;
        border-radius: 0.3em;
    }
}


.main-nav ul ul {
    display: flex;
    flex-direction: column;
}

.main-nav ul ul li {
    display: flex;
    flex-direction: row;
    margin: 0 0 0.5rem 0 ;
}
.main-nav ul ul ul {
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    overflow: hidden;
    margin-top: -0.2rem;
}

.main-nav ul ul ul li:nth-child(1){
    margin-left: 11rem;
}

.main-nav ul ul ul li{
    opacity: 0;
    transform: translateY(-2rem);
    transition: opacity 0.2s ease-in, transform 0.2s ease-out;
    /*margin: -0.1rem 0 0.5rem 10.5rem ;*/
    position: relative;
    width: 10rem;
}

.main-nav li:hover>ul {
    pointer-events: all;
}
.main-nav li:hover>ul>li {
    transform: translateY(0);
    opacity: 1;
}
.main-nav li:hover>ul>li:nth-child(2) {
    transition-delay: 0.08s;
}

#toggle-main-nav-button {
    color: #FFF;
    margin: 0 auto;
    width: 5%;
    font-size: 1.3em;
    display: none;
    @include breakpoint('tablet') {
    display: block;
    }
    @include breakpoint('laptop') {
        display: none;
    }
}

#toggle-nav {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

@media screen and (max-width: 800px) {
    ul {
        display: flex;
        flex-direction: column;
        color: #FFF;
        justify-content: left; }
    ul > li {
        display: block;
        align-items: center;
        margin: 0 auto;
        padding: 0.3rem;
        text-align: center; }
    ul > li .submenu {
        position: absolute;
        visibility: hidden;
        opacity: 0; }
    ul a {
        display: block;
        padding: 0.5em 1em;
        border-radius: 0; }
    #toggle-nav {
        position: absolute;
        pointer-events: none;
        opacity: 0; }
    #toggle-nav:checked {
        display: block; }
    .site-header label i.fa-times {
        display: none; }
    #toggle-nav:checked + label i.fa-times {
        display: block; }
    #toggle-nav:checked + label i.fa-bars {
        display: none; }
}


