
footer p:hover {
  background: #000;
  border-radius: 0.5rem;
}

footer p a {
    color: #FFF;
}

.site-footer-div {
    display: flex;
    background: rgb(130, 180, 241);
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.5rem 0 0.5rem;
}

.media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.site-footer-div a{
        text-decoration: none;
        color: rgb(255,255,255);
        font-weight: 500;
}

.site-footer-div p {
    background: rgb(130, 180, 241);
    color: #FFF;
    display: block;
    margin: 0.5rem;
}

