.inner {
    display: flex;
    justify-content: space-between;
}

.site-header,
.site-title a{
    color: var(--color-main-link);
    text-shadow: 1px 1px 1px grey;
}

.inner img {
    margin: 1rem 0.8rem 0 2rem;
}

.header-content{
    /*margin-top: 5rem;*/
    letter-spacing: 0.1rem;
    text-shadow: 1px 1px 1px grey;
}

.site-header nav {
    margin: 0.5rem 0;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

header h1{
    margin-top: 20%;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-shadow: 1px 1px 1px grey;
    position: relative;
}

.site-header.banner {
    position: relative;
    background-image: url(https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/19875426_10155500867784399_3910616384988455556_n.jpg?_nc_cat=106&_nc_ht=scontent.fsof3-1.fna&oh=cb6342968aae34608c8bb17859bd542c&oe=5D353FC2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 2000vh;
    /*width: 100%;*/
    width: auto;
}

.site-header.banner_other {
    position: relative;
    background-image: url(https://scontent.fsof3-1.fna.fbcdn.net/v/t31.0-8/12473748_10153880595104399_5690327844215255834_o.jpg?_nc_cat=104&_nc_ht=scontent.fsof3-1.fna&oh=ac7dde103f55f61e337f7b9e6c80f93c&oe=5D29B46F);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 30vh;
    /*width: 100%;*/
    width: auto;
}
.site-header.banner:after,
.site-header.banner_other:after{
    display: block;
    content: '';
}

.site-header.banner.size-large:after,
.site-header.banner_other.size-large:after{
    padding-top: calc(9 / 16  * 100% / 2);
}

.site-header.banner.size-small:after,
.site-header.banner_other.size-small:after{
    padding-top: calc( 9 / 32 * 100% );
}


@include breakpoint('laptop') {
    header h1{
        font-size: 3.5em;
        margin-top: 20%;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        text-shadow: 1px 1px 1px grey;
        position: relative;
    }
 }

@include breakpoint('phone') {
    header h1{
        font-size: 3.5em;
        margin-top: 20%;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        text-shadow: 1px 1px 1px grey;
        position: relative;
    }
}

iframe {
    display: block;
    margin:  auto;
}

